* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --green-color: #3b5d50;
    --section-color: #6a6a6a;
    --yellow-color: #f9bf29;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 28px;
    color: #6a6a6a;
    font-size: 14px;
    background-color: #eff2f1;
}

/* main section */
.navbar {
    background-color: var(--green-color);
}

.navbar .navbar-nav .nav-link {
    color: rgb(188, 188, 188);
    position: relative;
}

.navbar .navbar-nav .nav-link.active::after {
    content: "";
    width: 40px;
    height: 4px;
    background-color: var(--yellow-color);
    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translatex(-50%);
}

.navbar .navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 4px;
    bottom: 6px;
    background-color: var(--yellow-color);
    left: 25%;
    transition: width 0.3s;
}



.navbar .navbar-nav .nav-link:not(.active):hover:after {
    width: 50%;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
    color: white;
}

.main {
    background-color: var(--green-color);
}

.main-btn {
    background-color: var(--yellow-color);
    color: black;
}

.main-btn:not(.shbtn):hover {
    color: white;
    background-color: transparent;
    border: 1px solid whitesmoke;
    opacity: 1;
}

.shbtn:hover {
    background-color: var(--yellow-color);
    color: black;
}

.exbtn {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    font-weight: bold;
    opacity: 0.8;
    transition: all 0.3s;
}

.img-container {
    position: relative;
    bottom: 20px;
}

.img-container .img1 {
    width: 80%;
    position: absolute;
    left: 80px;
    top: -40px;
    z-index: 2;
}

.img-container .img2 {
    position: absolute;
    right: 0;
    width: 27%;
}


/* main section */

/* creafted */
.craft .main-btn {
    background: #2f2f2f;
    border-color: #2f2f2f;
}

.craft .main-btn:hover {
    background: black;
    border-color: black;
}

.box {
    position: relative;
    top: 150px;
    transition: all 0.3s;
}

.box img {
    position: relative;
    top: -150px;
    z-index: 1;
}

.box h3 {
    position: relative;
    top: -100px;
    left: 85px;
    z-index: 3;
    font-size: 20px;
    color: black;
}

.box h2 {
    position: relative;
    top: -100px;
    left: 110px;
    font-weight: bold;
    z-index: 3;
    font-size: 22px;
    color: black;
}

.box .layer {
    width: 100%;
    height: 0%;
    opacity: 0;
    bottom: 10px;
    position: absolute;
    background-color: rgb(218, 227, 230);
    transition: all 0.3s 0.1s;


}

.box:hover .layer {
    height: 100%;
    opacity: 1;


}

.box svg {
    position: absolute;
    bottom: 0px;
    right: 50%;
    transform: translateX(50%);
    font-size: 35px;
    color: black;
}

.box:hover {
    transform: translateY(-20px);
}

/* creafted */

/* choose */
.choose {
    top: 100px;
}

.icon {
    width: 33px;
    height: 33px;
    position: absolute;
    font-size: 25px;
    background: rgba(59, 93, 80, 0.2);
    border-radius: 50%;
    top: 40px;
    left: 20px;
    z-index: 2;
}

.icon svg {
    position: relative;
    top: -10px;
    left: -10px;
}

.content {
    position: relative;
    top: 90px;
}

.choose .imge1 img {
    height: 100%;
    position: absolute;
    border-radius: 15px;
    top: 100px;
    z-index: 2;
    left: 100px;
}

.choose .img2 img {

    position: absolute;
    top: 20px;
    left: -5px;
}

/* choose */

/* design */
.design {
    position: relative;
    top: 300px;
}

.design .main-title {
    position: relative;
    top: 370px;
}

.design .images {
    position: relative;
}

.design .img1 {
    width: 355px;
    height: 217px;
    border-radius: 20px;
    position: relative;
    z-index: 1;

}

.design .img1 img {

    border-radius: 20px;
}

.design .img2 {
    width: 255px;
    height: 217px;
    position: relative;
    top: -215px;
    left: 380px;
}

.design .img2 img {
    width: 205px;
    height: 180px;
    border-radius: 20px;
}

.design .imgg3 {
    width: 280px;
    height: 200px;
    position: relative;
    top: -230px;
    left: 300px;
    z-index: 1;

}

.design .imgg3 img {
    width: 330px;
    height: 307px;

    border-radius: 20px;

}

.design .img4 {
    position: relative;
    bottom: 700px;
    left: -95px;


}

.design .img4 img {
    width: 40%;


}

.design .col2 {
    position: relative;
    left: 75px;
    bottom: 400px;
}

.design ul {
    position: relative;
    left: 20px;
}

.design ul li {
    position: relative;
    left: 0px;
    margin: 0px 10px;
}

.design ul li::before {
    content: "";

    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #3b5d50;
    position: absolute;
    top: 8px;
    left: -12px;

}

.design a {
    position: relative;
    left: 250px;
    top: 20px;
}

/* design */


/* review */
.review .first {
    position: relative;
    width: 400px;
    height: 200px;
    overflow: hidden;

}

.review .pic {
    position: absolute;
    width: 30%;
    overflow: hidden;
}

.review .pic img {
    width: 100%;
}

.review .content {
    width: 50%;
    position: absolute;
    right: 75px;
    top: 0px;
}

/* review */

/*slider  */
.slider {
    position: relative;
    top: 200px;
}

.slider .circle {
    width: 100px;
    position: relative;
    left: 50%;
    bottom: 70px;
    transform: translateX(-50%);
}

.slider .circle img {
    width: 90%;
    border-radius: 50%;
    margin-bottom: 20px;

}

.slider .main-title {
    position: relative;
    margin-bottom: 100px;
}

/*slider  */


/* blog */

.blog {
    position: relative;
    top: 200px;
}

.blog .main-title a {
    transition: all 0.3s;
}

.blog .main-title a:hover {
    transition: all 0.3s;
    text-decoration: none;

}

.blog .first {
    position: relative;
    top: 100px;
    margin-right: 30px;
}

.blog .first img {
    width: 400px;
    border-radius: 25px;
    margin-bottom: 20px;
    width: 100%;
    transition: all 0.3s;
}

.blog .first .layer {
    width: 100%;
    height: 265px;
    background-color: #97979754;
    position: absolute;
    bottom: 79px;
    border-radius: 25px;
    opacity: 0;
}

/* .blog .first .img-box img {
    border-radius: 25px;
    margin-bottom: 20px;
    width: 100%;
    transition: all 0.3s;
} */

.blog .first:hover .layer {
    opacity: 1;
}

/* blog */
/* last */
.last {
    background-color: white;
    position: relative;
    top: 500px;
}

.last .first-input {
    width: 40% !important;
    border-radius: 10px;
    padding: 17px 0px;
    position: relative;
    margin-right: 10px;

}


.last .first-input::placeholder {
    position: absolute;
    left: 10px;
}

.last .last-icon {
    background-color: var(--green-color);
    width: 100px;
    height: 60px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.last .last-icon:hover {
    background-color: rgba(6, 42, 6, 0.814);

}

.last .last-icon svg {
    color: white;
    font-size: 25px;

}

.last .last-img {
    position: relative;
    width: 80%;
    left: 250px;
    bottom: 200px;
}

.last .last-img {
    position: relative;
    width: 65%;
}

.last .icon-div svg {
    background-color: #dce5e4;
    color: var(--green-color);
    margin-right: 10px;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

.last .icon-div svg:hover {
    color: #dce5e4;
    background-color: var(--green-color);
    margin-right: 10px;
    font-size: 20px;
}

.last .second-input {
    width: 40% !important;
    border-radius: 10px;
    padding: 17px 0px;
    position: relative;
    margin-right: 10px;
    margin-bottom: 20px;

}

.last .second-input::placeholder {
    position: absolute;
    left: 10px;

}

/* last */

@media (max-width: 767px) {

    /*  */
    .last {
        background-color: white;
        position: relative;
        top: 629px;
    }

    .last .l-anchor a {
        top: 11px;
        margin-left: 103px !important;
        left: 0px;
        position: relative;
        display: block;
    }

    .last .first-input {
        width: 69% !important;
        border-radius: 10px;
        padding: 17px 0px;
        position: relative;
        margin-right: 10px;
    }

    .last .second-input {
        width: 65% !important;
        border-radius: 10px;
        padding: 17px 0px;
        position: absolute;
        top: 221px;
        margin-right: 10px;
    }


    .last .second-input::placeholder {
        position: absolute;
        left: 10px;
    }

    .last .last-icon {
        background-color: var(--green-color);
        width: 100px;
        height: 60px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: absolute;
        top: 317px;
        right: 152px;
    }

    .last .last-img {
        position: relative;
        width: 73%;
        left: 47px;
        bottom: 401px;
    }



    /*  */
    .craft .main-btn {
        background: #2f2f2f;
        border-color: #2f2f2f;
        position: relative;
        left: 131px;
    }

    /*  */
    .icon {
        width: 33px;
        height: 33px;
        position: absolute;
        font-size: 25px;
        background: rgba(59, 93, 80, 0.2);
        border-radius: 50%;
        top: 94px;
        left: 80px;
        z-index: 2;
    }

    /*  */
    .blog .first {

        position: relative;
        top: 92px;
        margin-bottom: 27px;
        left: -20px;
    }

    .blog .first a {
        position: relative;
        left: 90px;
        font-size: 0px !important;

    }

    .blog .first .layer {
        left: 82px;
        width: 70%;
        height: 182px;
        background-color: #97979754;
        position: absolute;
        bottom: 52px;
        border-radius: 25px;
        opacity: 0;
    }

    .blog .first img {
        width: 400px;
        border-radius: 25px;
        margin-bottom: 20px;
        width: 70%;
        transition: all 0.3s;
        position: relative;
        left: 83px;
    }


    /*  */
    .review .content {
        width: 83%;
        position: relative;
        right: -87px;
        top: 131px;
        z-index: 3;
    }

    .review .first {
        position: relative;
        width: 274px;
        height: 200px;
        left: 17px;
        overflow: hidden;
    }

    .review .pic {
        position: absolute;
        width: 53%;
        left: 98px;
        overflow: hidden;
    }

    /*  */
    .navbar .navbar-nav .nav-link::after {
        display: none;
    }

    .img-container .img1 {
        width: 99%;
        position: relative;
        left: -12px;
        top: 55px;
        z-index: 2;
    }

    .img-container .img2 {
        position: absolute;
        right: 0px;
        top: 50px;
        width: 40%;
    }

    /*  */
    .box h3 {
        position: relative;
        top: -48px;
        left: 139px;
        z-index: 3;
        font-size: 20px;
        color: black;
    }

    .box h2 {
        position: relative;
        top: -50px;
        left: 166px;
        font-weight: bold;
        z-index: 3;
        font-size: 22px;
        color: black;
    }

    .box {
        position: relative;
        top: 150px;
        transition: all 0.3s;
        width: 50%;
        margin-bottom: 184px;

    }

    .box img {
        position: relative;
        top: -100px;
        z-index: 1;
        width: 100%;
        left: 50%;
    }

    .box .layer {
        width: 100%;
        height: 0%;
        opacity: 0;
        bottom: 10px;
        left: 49%;
        top: 20px;
        position: absolute;
        background-color: rgb(218, 227, 230);
        transition: all 0.3s 0.1s;
    }

    /*  */
    .choose .imge1 img {
        height: 50%;
        width: 60%;
        position: relative;
        border-radius: 15px;
        top: 197px;
        z-index: 2;
        left: 5px;

    }

    .choose .img2 img {

        position: absolute;
        top: 201px;
        left: 32px;
        width: 35%;
    }

    .choose {
        top: -121px;
    }

    /*  */
    .design .img4 img {
        width: 26%;
        position: absolute;
        left: 145px;
    }


    .design .main-title {
        position: relative;
        top: -9px;
        left: 27px;
    }

    .design .img1 {
        width: 133px;
        height: 217px;
        border-radius: 20px;
        position: relative;
        left: 77px;
        z-index: 1;
        bottom: 47px;
    }

    .design .img2 {
        width: 138px;
        position: relative;
        top: -263px;
        left: 96px;
    }

    .design .img2 img {
        width: 119px;
        height: 97px;
        right: -125px;
        position: relative;
        border-radius: 20px;
    }

    .design .imgg3 {
        width: 153px;
        position: relative;
        top: -263px;
        left: 156px;
    }

    .design .imgg3 img {
        width: 222px;
        height: 156px;
        position: relative;
        border-radius: 20px;
        right: -4px;
        top: -112px;

    }

    .design .img4 {
        position: relative;
        bottom: 700px;
        left: -100px;
    }

    .design .images {
        position: relative;
        left: -24px;
    }

    .design .col2 {
        position: relative;
        left: -50px;
        top: -391px;
    }

    .design .main-title h2,
    .design .main-title p {
        text-align: center;
    }

    .design a {

        position: relative;
        left: 145px;

    }
}

@media (min-width: 768px) {

    /*  */
    .last {
        background-color: white;
        position: relative;
        top: 629px;
    }

    .last .l-anchor a {
        top: 11px;
        margin-left: 103px !important;
        left: 0px;
        position: relative;
        display: block;
    }

    .last .first-input {
        width: 69% !important;
        border-radius: 10px;
        padding: 17px 0px;
        position: relative;
        margin-right: 10px;
    }

    .last .second-input {
        width: 65% !important;
        border-radius: 10px;
        padding: 17px 0px;
        position: absolute;
        top: 221px;
        margin-right: 10px;
    }


    .last .second-input::placeholder {
        position: absolute;
        left: 10px;
    }

    .last .last-icon {
        background-color: var(--green-color);
        width: 100px;
        height: 60px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: absolute;
        top: 317px;
        right: 152px;
    }

    .last .last-img {
        position: relative;
        width: 73%;
        left: 47px;
        bottom: 401px;
    }



    /*  */
    .craft .main-btn {
        background: #2f2f2f;
        border-color: #2f2f2f;
        position: relative;
        left: 131px;
    }

    /*  */
    .icon {
        width: 33px;
        height: 33px;
        position: absolute;
        font-size: 25px;
        background: rgba(59, 93, 80, 0.2);
        border-radius: 50%;
        top: 94px;
        left: 80px;
        z-index: 2;
    }

    /*  */
    .blog .first {

        position: relative;
        top: 92px;
        margin-bottom: 27px;
        left: -20px;
    }

    .blog .first a {
        position: relative;
        left: 90px;
        font-size: 0px !important;

    }

    .blog .first .layer {
        left: 82px;
        width: 70%;
        height: 182px;
        background-color: #97979754;
        position: absolute;
        bottom: 52px;
        border-radius: 25px;
        opacity: 0;
    }

    .blog .first img {
        width: 400px;
        border-radius: 25px;
        margin-bottom: 20px;
        width: 70%;
        transition: all 0.3s;
        position: relative;
        left: 83px;
    }


    /*  */
    .review .content {
        width: 83%;
        position: relative;
        right: -87px;
        top: 131px;
        z-index: 3;
    }

    .review .first {
        position: relative;
        width: 274px;
        height: 200px;
        left: -90px;
        overflow: hidden;
    }

    .review .pic {
        position: absolute;
        width: 53%;
        left: 98px;
        overflow: hidden;
    }

    /*  */
    .navbar .navbar-nav .nav-link::after {
        display: none;
    }

    .img-container {
        width: 500px;
    }

    .cbtn {
        position: relative;
        right: 50px;
    }

    .img-container .img1 {
        width: 100%;
        position: relative;
        left: -12px;
        top: 55px;
        z-index: 2;
    }

    .img-container .img2 {
        position: absolute;
        right: 0px;
        top: 50px;
        width: 50%;
    }

    /*  */
    .box h3 {
        position: relative;
        top: -48px;
        left: 109px;
        z-index: 3;
        font-size: 20px;
        color: black;
    }

    .box h2 {
        position: relative;
        top: -50px;
        left: 126px;
        font-weight: bold;
        z-index: 3;
        font-size: 22px;
        color: black;
    }

    .box {
        position: relative;
        top: 150px;
        transition: all 0.3s;
        width: 50%;
        margin-bottom: 184px;

    }

    .box img {
        position: relative;
        top: -100px;
        z-index: 1;
        width: 100%;
        left: 50%;
    }

    .box .layer {
        width: 100%;
        height: 0%;
        opacity: 0;
        bottom: 10px;
        left: 49%;
        top: 20px;
        position: absolute;
        background-color: rgb(218, 227, 230);
        transition: all 0.3s 0.1s;
    }

    /*  */
    .choose .icon{
        position: relative;
        left: 0px;
    }
    .choose .imge1 img {
        height: 50%;
        width: 60%;
        position: relative;
        border-radius: 15px;
        top: 197px;
        z-index: 2;
        left: 240px;

    }

    .choose .img2 img {

        position: absolute;
        top: 140px;
        left: 50px;
        width: 45%;
    }

    .choose {
        top: -121px;
    }

    /*  */
    .design .img4 img {
        width: 26%;
        position: absolute;
        left: 145px;
    }


    .design .main-title {
        position: relative;
        top: -9px;
        left: 27px;
    }

    .design .img1 {
        width: 133px;
        height: 217px;
        border-radius: 20px;
        position: relative;
        left: 77px;
        z-index: 1;
        bottom: 47px;
    }

    .design .img2 {
        width: 138px;
        position: relative;
        top: -263px;
        left: 96px;
    }

    .design .img2 img {
        width: 119px;
        height: 97px;
        right: -125px;
        position: relative;
        border-radius: 20px;
    }

    .design .imgg3 {
        width: 153px;
        position: relative;
        top: -263px;
        left: 156px;
    }

    .design .imgg3 img {
        width: 222px;
        height: 156px;
        position: relative;
        border-radius: 20px;
        right: -4px;
        top: -112px;

    }

    .design .img4 {
        position: relative;
        bottom: 700px;
        left: -100px;
    }

    .design .images {
        position: relative;
        left: -24px;
    }

    .design .col2 {
        position: relative;
        left: -50px;
        top: -391px;
    }

    .design .main-title h2,
    .design .main-title p {
        text-align: center;
    }

    .design a {

        position: relative;
        left: 145px;

    }
}


/*  */